@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-800, currentcolor);
  }

  body {
    background-color: black;
    color: white;
  }
}
